body{
         background-color: rgb(219, 232, 255);
         color: black;
         padding:0;
         margin:0;
         }
         
h1   {
         border-radius: 25px;
         background: rgba(190, 203, 221,1);
         padding: 10px; 
         width: 800px;
         height: 80px;
         font-weight: bold
         }
img {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 0px;
    width: 300px;
    height: 300px;
      } 
            
     h2{
         text-align: center;
          font-size: bold;
        
         
     }
     
         .button {
         background-color: rgba(190, 203, 221,1);
         border: none;
         color: white;
         padding: 15px 32px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 22px;
         margin: 2px 2px;
         cursor: pointer; 
         position:relative;
         top:50%;  
         left:50%;

         }
        

         p::first-line {
           background-color:rgba(6, 197, 245, 0.137);
            }
         h6{
             font-size: 12px;
             font-style: italic;
         }
         p{
             right: 0px;
             border-radius: 10px;
             border: 1px solid #ddd;
             padding: 5px;
             width: 300px;
             height: 300px;
             text-indent: 0px;
             font-size: 22px;
         }